.home-bg {
    background: url(images/2195679.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(222, 233, 228, 0.2);
    overflow:auto;
    
}

.left-side {
    display: flex;
    font-size: 1.2em;
    color: rgb(224, 224, 218);
    font-family: sans-serif;
    font-weight: bold;
}

.right-side {
    display: flex;
    
}

.navbar > .right-side > div {
    margin-right: 30px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
   }
 

.nav-link-wrapper a {  
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: rgba(127, 223, 18, 1);
    text-decoration: none;
    transition: color 0.5s;
}
    

.nav-link-wrapper:hover {
    border-bottom: 1px solid whitesmoke;
}

.nav-link-wrapper a:hover {
    color: rgb(245, 244, 237);
}
  
.heading {
    display: flex;
    color: rgb(74, 226, 14);  
    text-align:center;
    justify-content:center;
    padding:unset; 
    background-color: rgb(5, 5, 5, 0.8);
    font-size: 48px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10mm, 10mm;
    
}

.heading {
    display: flex;
    background-image: url(images/bg_7.jpg);
    background-repeat: no-repeat, repeat;
    

}
.portfolio-img-background {
    justify-content: center;
}

.home-page-para1 {
    display: flex;
    font-size: 40px;
    color:rgb(5, 5, 5);
    text-align:center;
    justify-content:space-evenly;
    padding:60px; 
    font-family:Arial, Helvetica, sans-serif;
    margin: 80px, 100px, 200px;
    background-color: rgba(97, 201, 156, 0.4);
}

.row1 img {
    /* display: flex; */
    margin-left:40px;
    margin-right: auto;
    margin-top: auto; 
    padding: 20px;
    justify-content:right;
    /* border-radius: 50%;   */
}

.home-page-para2 {
    display: flex;
    font-size: 40px;
    color:rgb(5, 5, 5);
    text-align:center;
    justify-content:space-evenly;
    padding:60px; 
    font-family:Arial, Helvetica, sans-serif;
    margin: 80px, 100px, 200px;
    background-color: rgba(97, 201, 156, 0.4);
}

.row2 img {
    margin-left: auto;
    margin-right: auto;
    margin: 15px; 
    /* border-radius: 50%;   */
}

/* 
About me page */

.about-bg {
   background: url(images/bg_3.jpg) no-repeat center center fixed;
    background-size: cover;
    
}





/* Gallery page */

.containerg {
    display: grid;
    grid-template-columns: 1fr;
} 

.navbarg {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
}

.gallery-bg {
    background: url(images/2859968.jpg) no-repeat center center fixed;
    background-size: cover;
}

.right-sideg {
    display: flex;
    
}

.navbarg > .right-sideg > div {
    margin-right: 30px;
    font-size: 1.2em;
    text-transform: uppercase;
   }
 

.nav-link-wrapperg a {  
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapperg a {
    color:rgb(230, 16, 16);
    text-decoration: none;
    transition: color 0.5s;
    font-family: sans-serif;
    font-weight: bold;
}
    

.nav-link-wrapperg:hover {
    border-bottom: 1px solid rgb(12, 12, 12);
}

.nav-link-wrapperg a:hover {
    color: rgb(14, 13, 13);

}

.left-sideg {
    display: flex;
    font-size: 1.2em;
    color: rgb(59, 221, 19);
    font-family: sans-serif;
    font-weight: bold;
}




/* hobbies page */

.hobbies-bg {
    background: url(images/bg_1ciBDh0.jpg) no-repeat center center fixed;
    background-size: cover;
}


/* contact page  */

.contact-bg {
    background: url(images/bg_1ciBDh0.jpg) no-repeat center center fixed;
    background-size: cover;
}

.row {
    display: flex;
    justify-content:right;
    padding: 140px;   
}




